:root {
    --soft-blue: #8484d3;
    --periwinkle-blue: #9c9cf8;
    --baby-purple: #c79cf8;
    --white: #ffffff;
    --dusk: #454576;
    --iris: #6262a9;
    --deep-lilac: #945ed1;
    --black: #000000;
    --strong-pink: #f8217f;
    --greenish-turquoise: #00ebb4;
    --very-light-pink: #e2e2e2;
    --brownish-grey: #707070;
    --black-two: #2d2d2d;
    --gray: #f0f0f0;
}

$soft-blue: var(--soft-blue);
$periwinkle-blue: var(--periwinkle-blue);
$baby-purple: var(--baby-purple);
$white: var(--white);
$dusk: var(--dusk);
$iris: var(--iris);
$deep-lilac: var(--deep-lilac);
$black: var(--black);
$strong-pink: var(--strong-pink);
$greenish-turquoise: var(--greenish-turquoise);
$very-light-pink: var(--very-light-pink);
$brownish-grey: var(--brownish-grey);
$black-two: var(--black-two);
$gray: var(--gray);