h1 {
  font-family: Fredoka One;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: $brownish-grey;
  margin: 0;
}

h2 {
  font-family: Fredoka One;
  font-size: 39px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: $brownish-grey;
  margin: 0;
}

h3 {
  font-family: Fredoka One;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $brownish-grey;
  margin: 0;
}

h4 {
  font-family: Fredoka One;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $brownish-grey;
  display: inline;
  margin: 0;
}

.text{
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
}