<template>
  <div id="wrapper">
    <div>
      <div id="icon">
        <contacts-ico/>
      </div>
      <div id="usernameContainer">
        <span class="text">{{currentUser.username}}</span>
      </div>
      <selection-bubble @click="auth('messenger')" name="Messenger"/>
      <selection-bubble @click="auth('telegram')" name="Telegram"/>
    </div>
  </div>
</template>

<script>
import { SelectionBubble } from "@/components";
import { ContactsIco } from "@/assets";
import { mapGetters } from "vuex";
export default {
  name: "Account",
  components: { SelectionBubble, ContactsIco },
  methods: {
    auth(plugin) {
      this.$router.push(`/settings/account/${plugin}`);
    }
  },
  computed:{
      ...mapGetters('users', {
          currentUser: 'current'
      })
  }
};
</script>

<style lang="scss" scoped>
#wrapper {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-weight: 800;
    font-size: 15px;
    color: $black-two;
    align-self: center;
  }

  #usernameContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 3em;
  }

  #icon {
    width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    // & * { fill:$black-two;}
  }
}
</style>
