<template>
  <div id="wrapper">
    <p class="text" v-show="true">{{message.message}}</p>
    <div id="emailContainer" v-show="state == 1">
      <form @submit.prevent="create">
        <input v-model="username" placeholder="Username" type="text">
        <button type="submit">Submit</button>
      </form>
    </div>
    <div id="passwordContainer" v-show="state == 2">
      <form @submit.prevent="authenticate">
        <input v-model="token" placeholder="Password" type="password">
        <div>
          <button type="button" @click="back">back</button>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div id="finishedContainer" v-show="state == 3">
      <p class="text">Plugin working</p>
      <button @click="remove">remove</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      username: "",
      token: ""
    };
  },
  created() {
    this.$store.commit("setPluginAuthState", 0);
    this.$store.commit("setPluginAuthMessage", "waiting for plugin");

    if (this.currentUser.platforms && this.currentUser.platforms[this.platform])
      this.$store.dispatch("plugins/patch", [
        "status",
        {
          platform: this.platform
        }
      ]);
    else {
      this.$store.commit("setPluginAuthState", 1);
      this.$store.commit("setPluginAuthMessage", "");
    }

    // console.log("wtf")
  },
  computed: {
    ...mapGetters("users", {
      currentUser: "current"
    }),
    platform() {
      return this.$route.name.toLowerCase();
    },
    message() {
      return this.$store.state.pluginAuthMessage;
    },
    state() {
      return this.$store.state.pluginAuthState;
    }
  },
  methods: {
    create() {
      this.$store.dispatch("plugins/patch", [
        "create",
        {
          platform: this.platform,
          username: this.username
        }
      ]);
    },
    authenticate() {
      this.$store.dispatch("plugins/patch", [
        "authorize",
        {
          platform: this.platform,
          token: this.token
        }
      ]);
    },
    back() {
      this.$store.dispatch("plugins/remove", this.platform);
      this.$store.commit("setPluginAuthState", this.state - 1);
    },
    remove() {
      this.$store.dispatch("plugins/remove", this.platform);
      this.$store.commit("setPluginAuthState", 1);
      this.username = "";
      this.token = "";
    }
  }
};
</script>

<style lang="scss" scoped>
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 200px;
    height: 35px;
    border: 1px solid rgb(206, 206, 206);

    margin: 10px 0;
    border-radius: 500px;
    color: rgb(39, 39, 39);
    padding: 10px;
    outline: none;
  }

  #emailContainer {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        margin-top: 20px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        border: 1px solid black;
        background: transparent;
      }
    }
  }

  #passwordContainer {
    form {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
          margin-top: 20px;
          width: 70px;
          height: 30px;
          border-radius: 5px;
          outline: none;
          border: 1px solid black;
          background: transparent;
        }
      }
    }
  }

  #finishedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 200px;
      height: 30px;
      border-radius: 5px;
      outline: none;
      border: 1px solid black;
      background: transparent;
    }
  }
}
</style>