<template>
  <div id="chat" v-chat-scroll>
    <!-- {{content}} -->
    <bubble v-for="(x, index) of messages" :key="index" v-bind="x"/>
    <typebox :platforms="platforms" v-model="currentPlatform" @submit="onSubmit"/>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

import { Bubble, Typebox } from "@/components";
export default {
  components: {
    Bubble,
    Typebox
  },
  data() {
    return {
      currentPlatform: 0
    };
  },
  computed: {
    ...mapGetters("channels", {
      getChannelInStore: "get"
    }),
    ...mapGetters("messages", {
      findMessagesInStore: "find"
    }),
    channel() {
      // console.log(this.$route.params.id)
      // console.log(this.getChannel(this.$route.params.id))
      return this.getChannelInStore(this.$route.params.id) || {};
    },
    messages() {
      if (this.channel)
        return this.findMessagesInStore({
          query: { channel: this.channel._id }
        }).data;
    },
    platforms() {
      return this.channel.platforms ? Object.keys(this.channel.platforms) : [];
    }
  },
  methods: {
    ...mapActions("messages", {
      findMessages: "find"
    }),
    ...mapActions("channels", {
      getChannel: "get"
    }),
    onSubmit(val) {
      // console.log(val)
      this.$store.dispatch("plugins/patch", [
        "send",
        {
          platform: this.platforms[this.currentPlatform],
          message: {
            content: val,
            channel: this.channel.platforms[
              this.platforms[this.currentPlatform]
            ]
          }
        }
      ]);
    }
  },
  created() {
    this.getChannel(this.$route.params.id).then(channel =>
      this.findMessages({ query: { channel: channel._id } })
    );
  }
};
</script>

<style lang="scss">
#chat {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100vh - 2em - 50px);
  overflow: auto;
}
</style>

