<template>
  <div id="wrapper">
    <div class="subDiv">
      <div>
        <p class="text">Name:</p>
        <input v-model="name" type="text">
        <button id="save" @click="changeName">save</button>
      </div>
    </div>
    <div class="subDiv">
      <div>
        <p class="text">Merge into Current Channel:</p>
        <select v-model="selected">
          <option disabled value>Please select a Channel</option>
          <option
            v-for="channel of channels"
            :key="channel._id"
            :value="channel._id"
          >{{channel.name}}</option>
        </select>
        <button id="merge" @click="mergeChannel">Merge</button>
      </div>
    </div>
    <div class="subDiv">
      <button id="remove" @click="remove">delete</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      selected: "",
      name: ""
    };
  },
  computed: {
    ...mapGetters("channels", {
      findChannels: "find",
      getChannelInStore: "get"
    }),

    currentChannel() {
      return this.getChannelInStore(this.$route.params.id);
    },
    channels() {
      let channels = this.findChannels({}).data;
      return channels.filter(
        channel =>
          !Object.keys(channel.platforms).reduce(
            (acc, cur) =>
              acc | Object.keys(this.currentChannel.platforms).includes(cur),
            false
          )
      );
      // return channels;
      // return x;
    },
    selectedChannel() {
      return this.getChannelInStore(this.selected);
    }
  },
  methods: {
    ...mapActions("messages", {
      findMessages: "find",
      patchMessages: "patch"
    }),
    ...mapActions("channels", {
      findChannel: "find",
      patchChannel: "patch",
      removeChannel: "remove",
      getChannel: "get"
    }),
    mergeChannel() {
      // let x = await this.findMessages({query:{channel:this.selected}})
      this.patchChannel([
        this.currentChannel._id,
        {
          platforms: {
            ...this.selectedChannel.platforms,
            ...this.currentChannel.platforms
          }
        }
      ]);
      this.removeChannel(this.selectedChannel._id);
      this.patchMessages([
        null,
        { channel: this.currentChannel._id },
        { query: { channel: this.selectedChannel._id } }
      ]);
    },
    changeName() {
      this.patchChannel([this.currentChannel._id, { name: this.name }]);
    },
    remove() {
      this.removeChannel(this.currentChannel._id);
      this.$router.replace('/')
    }
  },
  created() {
    this.getChannel(this.$route.params.id).then(
      channel => (this.name = channel.name)
    );
  }
};
</script>

<style lang="scss" scoped>
  #wrapper{
    padding-left: 20px;    

        input{
          width: 150px;
          height: 33px;
          border: solid 1px $periwinkle-blue;
          border-radius: 50px 0 0 50px;
          background: rgb(255, 255, 255);
          color:rgb(46, 46, 46);
          padding:10px;
          outline: none;
        }

        #save{
          height: 33px;
          width: 50px;
          border: none;
          outline: none;
          border-radius: 0 50px 50px 0;
          background-color: $periwinkle-blue;
          color: white;
          transition: background-color 0.2s;

          &:hover{
            background-color: $soft-blue;
          }
        }

        #merge{
          height: 33px;
          width: 50px;
          border: none;
          border-radius: 0 50px 50px 0;
          background-color:$periwinkle-blue;
          color:white;
          transition: background-color 0.2s;

          &:hover{
            background-color: $soft-blue;
          }
        }

  #save {
    height: 33px;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 0 50px 50px 0;
    background-color: $periwinkle-blue;
    color: white;
  }

  #merge {
    height: 33px;
    width: 50px;
    border: none;
    border-radius: 0 50px 50px 0;
    background-color: $periwinkle-blue;
    color: white;
  }

        #remove{
          width: 100px;
          height: 33px;
          border: none;
          background-color: rgb(250, 90, 90);
          border-radius: 50px;
          color: white;
          transition: background-color 0.2s;
          margin-top: 30px;
          &:hover{
            background-color: rgb(224, 61, 61);
          }
        }
  select {
    width: 150px;
    height: 33px;
    border: solid 1px $periwinkle-blue;
    border-radius: 50px 0 0 50px;
    outline: none;
    padding: 0 0 0 5px;
  }

  .subDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
}
</style>
