<template>
  <div class="colorsSetting">
    <setting-plattform
      v-for="p of platforms"
      :plattform="p"
      :key="p"
      v-model="colors[p]"
      @input="update(p)"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { SettingPlattform } from "@/components";

export default {
  components: { SettingPlattform },
  data() {
    return {
      colors: {}
    };
  },
  methods: {
    ...mapActions("users", { patchUser: "patch" }),
    update(platform) {
      this.patchUser([
        this.logendInUser._id,
        {
          [`platforms.${platform}.color`]: this.colors[platform]
        }
      ]);
    }
  },
  computed: {
    ...mapGetters("users", {
      logendInUser: "current"
    }),
    platforms() {
      return Object.keys(this.logendInUser.platforms);
    }
  },
  created() {
    this.colors = this.platforms.reduce(
      (obj, val) => ({
        ...obj,
        [val]: this.logendInUser.platforms[val].color || "#888888"
      }),
      {}
    );
  }
};
</script>

<style lang="scss" scoped>
.colorsSetting {
  padding-top: 10px;
}
</style>
