<template>
  <div id="wrapper">
    <div class="subDiv">
      <div>
        <p class="text">Name:</p>
        <input v-model="name" type="text">
        <button id="save" @click="changeName">save</button>
      </div>
    </div>
    <div class="subDiv">
      <div>
        <p class="text">Merge into Current contact:</p>
        <select v-model="selected">
          <option disabled value>Please select a contact</option>
          <option
            v-for="contact of contacts"
            :key="contact._id"
            :value="contact._id"
          >{{contact.name}}</option>
        </select>
        <button id="merge" @click="mergeContact">Merge</button>
      </div>
    </div>
    <div class="subDiv">
      <button id="remove" @click="remove">delete</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      selected: "",
      name: ""
    };
  },
  computed: {
    ...mapGetters("contacts", {
      findContacts: "find",
      getContactInStore: "get"
    }),

    currentContact() {
      return this.getContactInStore(this.$route.params.id);
    },
    contacts() {
      let contacts = this.findContacts({}).data;
      return contacts.filter(
        contact =>
          !Object.keys(contact.platforms).reduce(
            (acc, cur) =>
              acc | Object.keys(this.currentContact.platforms).includes(cur),
            false
          )
      );
      // return contacts;
      // return x;
    },
    selectedContact() {
      return this.getContactInStore(this.selected);
    }
  },
  methods: {
    ...mapActions("messages", {
      findMessages: "find",
      patchMessages: "patch"
    }),
    ...mapActions("contacts", {
      findContact: "find",
      patchContact: "patch",
      removeContact: "remove",
      getContact: "get"
    }),
    mergeContact() {
      // let x = await this.findMessages({query:{Contact:this.selected}})
      this.patchContact([
        this.currentContact._id,
        {
          platforms: {
            ...this.selectedContact.platforms,
            ...this.currentContact.platforms
          }
        }
      ]);
      this.removeContact(this.selectedContact._id);
      this.patchMessages([
        null,
        { sender: this.currentContact._id },
        { query: { sender: this.selectedContact._id } }
      ]);
    },
    changeName() {
      this.patchContact([this.currentContact._id, { name: this.name }]);
    },
    remove() {
      this.removeContact(this.currentContact._id);
      this.$router.replace("/contacts");
    }
  },
  created() {
    this.getContact(this.$route.params.id).then(
      contact => (this.name = contact.name)
    );
  }
};
</script>

<style lang="scss" scoped>
#wrapper {
  padding-left: 20px;

  input {
    width: 150px;
    height: 33px;
    border: solid 1px $periwinkle-blue;
    border-radius: 50px 0 0 50px;
    background: rgb(255, 255, 255);
    color: rgb(46, 46, 46);
    padding: 10px;
    outline: none;
  }

  #save {
    height: 33px;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 0 50px 50px 0;
    background-color: $periwinkle-blue;
    color: white;
  }

  #merge {
    height: 33px;
    width: 50px;
    border: none;
    border-radius: 0 50px 50px 0;
    background-color: $periwinkle-blue;
    color: white;
  }

  select {
    width: 150px;
    height: 33px;
    border: solid 1px $periwinkle-blue;
    border-radius: 50px 0 0 50px;
    outline: none;
    padding: 0 0 0 5px;
  }

  .subDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  #remove {
    width: 100px;
    height: 33px;
    border: none;
    background-color: rgb(250, 90, 90);
    border-radius: 50px;
    color: white;
    transition: background-color 0.2s;
    margin-top: 30px;
    &:hover {
      background-color: rgb(224, 61, 61);
    }
  }
}
</style>
