<template>
  <div id="wrapper">
    <contact @click="$router.push({name:'contactSettings', params:{id: contact._id}})" v-for="contact of contacts" :key="contact._id" :name="contact.name" :subtext="Object.keys(contact.platforms).join(', ')"/>
  </div>
</template>

<script>
import { Contact } from "@/components";
import { mapGetters, mapActions } from "vuex";
export default {
  components: { Contact },

  computed: {
    ...mapGetters("contacts", {
      findContactsInStore: "find"
    }),
    contacts() {
        return this.findContactsInStore({query:{}}).data
    }
  },
  methods:{
      ...mapActions('contacts',{
          findContacts: 'find'
      })
  },
  created(){
      this.findContacts({query:{}})
  }
};
</script>

<style lang="scss" scoped>
#wrapper {
  padding-bottom: 50px;
  height: calc(100vh - 50px);
}
</style>
