<template>
    <div>
        <h4>Need Help?</h4>
        <p class="text">Do you need help with the interface? Do you want to report a issue? 
            We are there for you: <br> <br>
            <b>EMail:</b> amy.your.assistant@gmail.com <br>
            <b>Instagram:</b> amyassistant <br>
            <b>Twitter:</b> amyassistant

        </p>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
    div{
        padding: 20px;

        p{
            font-size: 15px;
        }
    }
</style>
