<template>
  <div id="home">
    <!-- <contact v-for="(c, id) in $store.getters.channels" :key="id" :name="c.name" :id="id"></contact> -->

    <contact @click="$router.push({name:'chat', params:{id: channel._id}})" v-for="channel in channels" :key="channel._id" :name="String(channel.name)" :id="channel._id" :subtext="channel.lastMessage ? channel.lastMessage.content: 'New Message'"></contact>
    
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import { Contact } from "@/components";

export default {
  components: { Contact },
  data(){
    return{
      testchannel: '',
      testtext:''
    }
  },
  computed: {
    ...mapGetters("channels", {
      findChannelsInStore: "find"
    }),
    channels() {
      return this.findChannelsInStore({ query: {} }).data.sort((a,b) => a.lastMessage && b.lastMessage ? new Date(b.lastMessage.datetime) - new Date(a.lastMessage.datetime):1);
      },
  },
  methods: {
    ...mapActions("channels", {
      findChannels: "find"
    })
  },
  created() {
      this.findChannels({ query: {} });
  }
};
</script>


<style lang="scss">
  #home{
    padding-bottom: 100px;
  }
</style>
