<template>
  <div>
    <router-view></router-view>
    <amy-navbar></amy-navbar>
  </div>
</template>

<script>
import { AmyNavbar } from "@/components";

export default {
  components: { AmyNavbar }
};
</script>

<style lang="scss">
</style>
