<template>
  <div id="wrapper">
    <form @submit.prevent="signup(email, password, tel, username)">
      <div>
        <input placeholder="Email" type="email" name="email" id="email" v-model="email">
      </div>
      <div>
        <input placeholder="Username" type="text" name="username" id="username" v-model="username">
      </div>
      <div>
        <input placeholder="Tel" type="tel" name="tel" id="tel" v-model="tel">
      </div>
      <div>
        <input
          placeholder="Password"
          type="password"
          name="password"
          id="password"
          v-model="password"
        >
      </div>
      <button type="submit">Signup</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Register",
  data: () => ({
    email: "",
    password: "",
    tel: "",
    username: ""
  }),
  methods: {
    ...mapActions("auth", ["authenticate"]),

    login(email, password) {
      this.authenticate({ strategy: "local", email, password }).then(() => {
        this.$router.replace(this.$route.query.redirect || "/");
      });
    },

    signup(email, password, tel, username) {
      const { User } = this.$FeathersVuex;
      const user = new User({ email, password, tel, username, platforms : {} });
      // save the user
      user.save().then(() => {
        this.login(email, password);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
::placeholder {
  color: white;
}

#wrapper {
  background-image: linear-gradient(-45deg, $iris, $baby-purple);
  display: flex;
  height: calc(100vh - 2.7em);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 200px;
    height: 35px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    border-radius: 500px;
    color: white;
    padding: 10px;
    outline: none;
  }

  button {
    width: 200px;
    height: 35px;
    border-radius: 500px;
    border: 1px solid white;
    background: transparent;
    color: white;
    margin: 10px 0;
    outline: none;
  }
}
</style>
