<template>
<div id="SettingsNotifications">
    <setting-general name="Push Notification"/>
    <setting-general name="Filtered Push Notification"/>
</div>
   
    
</template>

<script>
import { SettingGeneral } from "@/components"

export default {
    components:{ SettingGeneral}
}
</script>

<style>
    #SettingsNotifications{
        padding-top:10px;
    }
</style>
