<template>
  <div class="settings">
    <div id="displayUser">
      <div id="kreis"></div>

      <span>{{logendInUser.username}}</span>
    </div>
    <setting type link cat="Notifications" to="/settings/notifications">
      <messege-ico slot="icon"/>
    </setting>
    <setting type link cat="Account" to="/settings/account">
      <contacts-ico slot="icon"/>
    </setting>
    <setting type link cat="Colors" to="/settings/colors">
      <picker-ico slot="icon"/>
    </setting>
    <setting type link cat="Blocked contacts" to="/settings/blockedcontacts">
      <blocked-ico slot="icon"/>
    </setting>
    <setting type link cat="Help" to="/settings/help">
      <help-ico slot="icon"/>
    </setting>
    <setting type link cat="Logout" @click="logout">
      <font-awesome-icon size="2x" class="logouticon" slot="icon" icon="sign-out-alt"/>
    </setting>
  </div>
</template>


<script>
import { Setting } from "@/components";

// eslint-disable-next-line
import { mapGetters, mapActions } from "vuex";

import {
  ContactsIco,
  MessegeIco,
  HelpIco,
  BlockedIco,
  PickerIco
} from "@/assets";
export default {
  components: {
    Setting,
    ContactsIco,
    MessegeIco,
    HelpIco,
    BlockedIco,
    PickerIco
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout").then(() => {
        this.$router.push("/start");
      });
    }
  },
  computed: {
    // eslint-disable-next-line
    ...mapGetters("users", {
      logendInUser: "current"
    })
  }
};
</script>

<style scoped lang="scss">
.logouticon * {
  fill: $soft-blue;
}

span {
  font-weight: 800;
  font-size: 15px;
  color: $black-two;
  align-self: center;
  margin: 0 auto;
}

.settings {
  padding-top: 30px;
  padding-bottom: 50px;

  #kreis {
    height: 120px;
    width: 120px;
    border: solid 1.5px $soft-blue;
    border-radius: 50%;
    margin-left: 20px;
    align-self: center;
  }

  #displayUser {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
}
</style>

