<template>
    <div id="wrapper">
        <div><amy-logo class="icon"/></div>
        <div><button id="login" @click="$router.push('/login')">Login</button></div>
        <div id="divider">
            <div class="line"></div>
            <h4>OR</h4>
            <div class="line"></div>
        </div>
        <div><button id="register" @click="$router.push('/register')">Register</button></div>
    </div>
</template>

<script>
import { AmyLogo } from '@/assets'
export default {
    name:"Start",
    components:{ AmyLogo }
}
</script>


<style lang="scss" scoped>
    #wrapper{
        background-image:linear-gradient(-45deg, $iris,$baby-purple);
        display: flex;
        height: calc(100vh - 2.7em);

        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon{
            position: absolute;
            width: 300px;
            fill: white;
            top:60px;
            transform:translateX(-50%)
        }

        button{
            width: 170px;
            height: 35px;
            margin: 2px;
            border: solid 1px white;
            color: white;
        }
        
        #login{
            background: transparent;
        }

        #register{
            background: rgba(255,255,255, 0.2);
        }

        #divider{  
            display:flex;
            justify-content: center;
            align-items: center;
            margin:15px 0;
            .line{
                width: 100px;
                height: 2px;
                background: white;
                margin: 0 20px;
            }

            h4{
                color:white;
            }
        }
    }

</style>
