<template>
  <header id="amy-header">
    <div>
      <slot name="left">
        <button class="back-btn" v-show="!$route.meta.noback" @click="$router.back()">
          <font-awesome-icon icon="arrow-left"/>
        </button>
      </slot>
    </div>
    <div>
      <slot name="middle">
        <h3>{{displayName}}</h3>
      </slot>
    </div>
    <div>
      <slot name="right">
        <component v-if="$route.meta.right" :is="$route.meta.right"></component>
      </slot>
    </div>
  </header>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("channels", {
      getChannelInStore: "get"
    }),
    currentChannel() {
      if (this.$route.name == "chat")
        return this.getChannelInStore(this.$route.params.id) || {};
      return {}
    },
    displayName() {
      if (this.$route.name == "chat") return this.currentChannel.name;
      return this.$route.meta.name;
    }
  }
};
</script>

<style lang="scss">
#amy-header {
  z-index: 1000;
  position: fixed;
  display: grid;
  width: 100vw;
  min-height: 2.7em;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  text-align: center;
  background: $white;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.096);
  h3 {
    text-align: center;
    font-size: 18px;
    color: $black-two;
  }

  button {
    border: none;
    background: none;
    padding: 0.5em;
    font-size: 1em;
    color: $deep-lilac;

    &.back-btn {
      cursor: pointer;
    }
  }
}
</style>
