<template>
  <nav id="amy-nav">
    <router-link class="link" to="/settings">
      <settings-btn class="icon" />
    </router-link>
    <router-link class="link" to="/">
      <home-btn class="icon" />
    </router-link>
    <router-link class="link" to="/contacts">
      <contacts-btn class="icon" />
    </router-link>
    <!-- <div class="middle" id="selector">s</div> -->
    <div :class="$route.meta.position" id="selector"></div>
  </nav>
</template>

<script>
import { HomeBtn, ContactsBtn, SettingsBtn} from '@/assets'
export default {
  components:  { HomeBtn, ContactsBtn, SettingsBtn}
};
</script>



<style lang="scss">
#amy-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: $white;

}

#selector {
  bottom: 0px;
  position: absolute;
  height: 10px;
  width: calc(100% / 3);
  background-color: $soft-blue;
  transition: cubic-bezier(0.37, 0.35, 0.41, 1.33) 0.5s;
  &.middle {
    left: 50%;
    transform: translateX(-50%);
  }

  &.left {
    left: 0%;
  }

  &.right {
    left: 100%;
    transform: translateX(-100%);
  }


}
#amy-nav {
  .icon * {
      fill:$black-two;
  }

  .icon{
    width:25px;
  }

  .link{
  padding:15px 0;
  }
}

  
</style>
