<template>
  <div class="avatar">
    <img class="image" :src="src">
    <div v-if="status" class="status" :style="{background: status}"></div>
  </div>
</template>
<script>
export default {
  name: "Avatar",
  props: {
    src: String,
    status: String
  }
};
</script>
<style lang="scss" scoped>
.avatar {
  width: 50px;
  height: 50px;
  position: relative;
  .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray;
  }
  .status {
    height: 8px;
    width: 8px;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 50%;
  }
}
</style>
