<template>
  <div :class="out ? 'bubbleRight':'bubbleLeft'">
    <header v-show="!out">
      <span>{{sender?sender.name:'unkown'}}</span>
    </header>
    <div class="wrapper">
      <avatar :status="statusColor" :src="require('../assets/user.jpeg')"/>
      <p class="text">{{content}}</p>
    </div>
    <footer>
      <time>{{formatedDate}}</time>
      <font-awesome-icon
        v-if="!out"
        class="star"
        @click="active = !active"
        :icon="[ importance > .7 ? 'fas':'far', 'star']"
      />
    </footer>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import { format } from "date-fns";
import { Avatar } from ".";

export default {
  components: { Avatar },
  name: "Bubble",
  props: {
    content: String,
    picture: String,
    platform: String,
    important: Boolean,
    datetime: String,
    out: Boolean,
    group: Boolean,
    importance: Number,
    sender: Object
  },
  computed: {
    ...mapGetters("users", {
      logendInUser: "current"
    }),
    formatedDate() {
      return format(this.datetime, "hh:mm A");
    },
    statusColor() {
      return this.logendInUser.platforms[this.platform].color;
    }
  }
};
</script>

<style lang="scss" scoped>
.bubbleLeft {
  display: inline-block;
  margin: 4px;
  padding: 4px;
  // background: lightblue;
  border-radius: 5px;
  max-width: 80%; //320px
  header,
  footer {
    margin: 2px 2px 2px 60px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  time {
    font: 0.8em monospace;
    color: var(--brownish-grey);
  }
  p {
    text-align: left;
    margin: 2px 2px 0px 10px;
    word-break: normal;
  }
  .star {
    font-size: 12px;
    position: relative;
    margin-left: 10px;
  }
  .wrapper {
    display: flex;
  }
}

.bubbleRight {
  margin: 4px;
  margin-left: auto;
  padding: 4px;
  // background: lightblue;
  border-radius: 5px;
  max-width: 80%; //320px
  header,
  footer {
    margin: -5px 50px 2px 2px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  time {
    font: 0.8em monospace;
    color: var(--brownish-grey);
  }
  p {
    text-align: left;
    margin: 2px 10px 0px 2px;
    word-break: normal;
  }
  .star {
    font-size: 12px;
    position: relative;
    margin-left: 10px;
  }
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}
</style>