<template>
  <button @click="$router.push({name: 'chatSettings', params: $route.params})">
    <settings-btn class="chatsettingbutton"></settings-btn>
  </button>
</template>

<script>
import { SettingsBtn } from "@/assets";
export default {
  components: {
    SettingsBtn
  }
};
</script>

<style lang="scss">
.chatsettingbutton {
  & * {
    fill: $black-two;
  }

  width: 25px;
}
</style>
