<template>
  <div class="contact" @click="$emit('click',id)">
    <avatar :src="require('../assets/user.jpeg')"/>
    <div id="wrapper">
      <span class="namespan text">{{name}}</span>
      <span class="subtext">{{subtext}}</span>
    </div>

  </div>
</template>

<script>
import { Avatar } from ".";

export default {
  name: "Contact",
  props: { id: String, name: String, img: String, subtext: String },
  components: { Avatar }
};
</script>

<style lang="scss">
.contact {
  background: $white;
  width: 100%;
  height: 4em;
  padding: 10px 1em;
  display: flex;

  .namespan {
    margin-top:8px;
    font-size: 15px;
    font-family: Open Sans;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
  }

  .subtext{
    font-size: 12px;
    margin-top:2px;
    margin-left: 10px;
    color: $brownish-grey;
  }

  #wrapper{
    display: flex;
    flex-direction: column;
  }
}
</style>
