<template>
    <div @click="$emit('click',$event)" id="selectorbub" :class="{active: !!plugin}">
        <span class="text">{{name}}</span>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    name:"SelectionBubble",
    // data(){
    //     return {
    //         plugin:undefined
    //     }
    // },
    props:{
        name: String,
    },
    computed:{
         ...mapGetters('users', {
            currentUser: 'current'
        }),
        plugin(){
            return this.currentUser.platforms[this.name.toLowerCase()]
        },
    },
    methods:{
        goto(){
            this.$router.push(`/settings/account/${this.name.toLowerCase()}`)
        }
    },

    created(){
        // this.$store.dispatch('plugin/get', this.name.toLowerCase())
        // console.log(this.$store.getters['plugin/get'](this.name.toLowerCase()))
        
        // console.log(this.getPlugin( this.name.toLowerCase()))
        //  .dispatch('plugin/get',this.name.toLowerCase())
        // this.plugin = res
    }   
}
</script>

<style lang="scss" scoped >
    #selectorbub{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 200px;
        border: 1.5px solid gray;
        border-radius: 40px;
        margin-bottom: 10px;
        &.active{
            border-color: $soft-blue;
            background: $soft-blue;
            color:white;
        }
        &:not(.active){
            border-color: gray;
            background: gray;
        }
    }
</style>
