<template>
    <div class="notification">
        <div class="wrapper">
            <div class="headings">
                <h4 class="text">{{name}}</h4>
            </div>
            <div>
                <setting-slider />
            </div>
        </div>
    </div>
</template>

<script>
import SettingSlider from "./SettingSlider"
export default {
    name:"GeneralSetting",
    components:{SettingSlider},
    props:{
        name: String
    },
}
</script>

<style lang="scss" scoped>
.notification{
    position: relative;

    .headings{
        width: calc(100% - 80px);
        padding-top: 16px;
        padding-bottom: 16px;
        margin-left: 20px;
    }
    
    h4{
        font-size: 15px;
    }

    .wrapper{
        display: flex;
        position: relative;
    }
    
}

.notification:not(:last-child) .headings{
        border-bottom: solid 1px #8484d349;

}
</style>
