<template>
  <div class="settingPlattform">
    <div class="wrapper">
      <div id="plattformIcon"></div>
      <div class="headings">
        <h4 class="text">{{plattform}}</h4>
      </div>
      <div id="plattformColor">
        <input v-model="color" type="color">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SettingPlattform",
  props: {
    plattform: String,
    value: String
  },
  data() {
    return {
      color: this.value
    };
  },
  watch: {
    color(val) {
      this.$emit("input", val);
    }
  }
};
</script>

<style lang="scss" scoped>
.settingPlattform {
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }

  .headings {
    width: calc(100% - 70px);
    margin: 16px 0px;
  }

  h4 {
    font-size: 15px;
  }

  #plattformColor {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    margin: auto 10px;
    background-color: #8484d349;

    input[type="color"] {
      -webkit-appearance: none;
      border: none;
      width: 100%;
      height: 100%;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
      border: none;
    }
  }
  // TODO: heading bekommt margin top bottom statt padding von wrapper
  #plattformIcon {
    height: 100%;
    width: 50px;
  }
}
.settingPlattform:not(:last-child) .wrapper {
  border-bottom: solid 1px #8484d349;
}
</style>
