<template>
    <button id="Slider" @click="change">
        <div id="SliderBack" :class="{'activeBack':active,'inactiveBack':!active}">
            <div id="SliderCircle" :class="{'activeCircle':active,'inactiveCircle':!active}">

            </div>
        </div>
    </button>
</template>

<script>
export default {
    name: "SettingSlider",
    props: {
        value: Boolean
    },
    data(){
        return {
            active: this.value
        }
    },
    methods: {
        change() {
            this.active = !this.active
            this.$emit('change', this.active)
        }
    },
    model: {
        prop: 'value',
        event: 'change'
    }
}
</script>

<style lang="scss" scoped>
    #Slider{
        background: none;
        border: none;
        outline: none;
        display: flex;
        width: 80px;
        height: 100%;
        justify-content: center;
        align-items: center;

        #SliderBack{
            border-radius: 50px;
            width: 40px;
            height: 20px;
            position: relative;

            #SliderCircle{
            width: 15px;
            height: 15px;
            position: absolute;
            border-radius:50px;
            top: 2.5px;
            background-color: white;
        }
        }

      

        .inactiveBack{
            background-color: #CCCCCC; 
            transition:0.5s;
        }

        .activeBack{
            background-color: #8484D3; 
            transition:0.5s;
        }

        .inactiveCircle{
            left: 2.5px;
            transition: 0.5s;
        }
        .activeCircle{
            left: calc(100% - 17.5px);
            transition: 0.5s;
        }
    }
</style>
