<template>
  <div class="setting" @click="click">
    <div class="wrapper">
      <div class="icon">
        <slot name="icon"/>
      </div>
      <div class="headings">
        <h4 class="text">{{cat}}</h4>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  name: "Setting",
  props: {
    link: String,
    cat: String,
    to: String
  },
  methods: {
    click(event) {
      if (this.to) this.$router.push(this.to);
      this.$emit("click", event);
    }
  }
};
</script>

<style lang="scss">
.setting {
  position: relative;
  cursor: pointer;

  .headings {
    width: calc(100% - 80px);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  h4 {
    font-size: 15px;
  }

  .wrapper {
    display: flex;
    position: relative;
  }

  .icon {
    width: 60px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0px 17.5px;
    svg {
      width: 25px;
    }
  }
}

.setting:not(:last-child) .headings {
  border-bottom: solid 1px #8484d349;
}
</style>
