<template>
  <div>
    <!-- <div id="platformList" v-show="selectWindow">
      <form>
        <span v-for="(platform, index) of platforms" :key="index">
          <label>
            <input type="radio" name="platform" v-model="currentPlatform_" :value="index">
            {{platform}}
            <br>
          </label>
        </span>
      </form>
      <button id="savePlatform" @click="savePlatform">save</button>
    </div>-->
    <div id="typebox">
      <div
        ref="input"
        @keypress.enter.prevent="submit"
        @input="onDivInput"
        type="text"
        id="input"
        class="text"
        contenteditable="true"
      ></div>
      <button @click="submit" id="plattformSelector">
        <font-awesome-icon size="2x" id="sendbutton" icon="angle-right"/>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    platforms: Array,
    currentPlatform: Number
  },
  data() {
    return {
      currentPlatform_: this.currentPlatform,
      content: ""
      // selectWindow: false,
      // pressTimer: {},
      // platforms: ['a','b']
    };
  },

  methods: {
    submit() {
      this.$emit("submit", this.content);

      // console.log(this.content)

      this.content = "";
      this.$refs.input.textContent = this.content;
    },
    onDivInput(e) {
      this.content = e.target.textContent;
    }
    // savePlatform() {
    //   this.selectWindow = false;
    // },
    // startT(e) {
    //   console.log("start");
    //   if (e.type == "click" && e.button != 0) {
    //     return;
    //   }
    //   this.pressTimer = setTimeout(() => {
    //     this.selectWindow = true;
    //     console.log(this);
    //   }, 500);
    // },
    // cancelT() {
    //   if (this.pressTimer !== null) {
    //     console.log("cancel");
    //     clearTimeout(this.pressTimer);
    //     this.pressTimer = null;
    //   }
    // }
  },
  watch: {
    currentPlatform_(val) {
      this.$emit("changePlatform", val);
    }
  },
  model: {
    event: "changePlatform",
    prop: "currentPlatform_"
  }
};
</script>

<style lang="scss" scoped>
#typebox {
  display: flex;
  flex-direction: row;
  background: rgb(230, 230, 230);
  padding: 5px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background: $soft-blue;
    outline: none;

    #sendbutton {
      & * {
        fill: $white;
      }
    }
  }

  #input {
    width: calc(100% - 40px);
    min-height: 20px;
    max-height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 21px;
    // border:1px solid black;
    outline: none;
    padding: 10px;
    background-color: white;
  }
}
#platformList {
  flex-direction: column;
  width: 150px;
  padding: 10px;
  box-shadow: 2px 4px 10px gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  button {
    margin-top: 10px;
  }
}
// #platformList.showList {
//   display: flex;
// }
</style>
