<template>
  <div id="container">
    <amy-header></amy-header>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import { AmyHeader } from "@/components";

export default {
  components: { AmyHeader },
  name: "app",
};
</script>

<style lang="scss">
main {
  padding-top: 2.7em;
  overflow: hidden;
  
}

</style>

